# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# Terraform binary
terraform.exe
terraform

# Secrets
*.pem
*.key
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log