# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# Terraform binary
terraform.exe
terraform

# Secrets
*.pem
*.key
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
terraform.exe
terraform
2. Limpia lo